<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "custom.css" | relative_url }}">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
</head>

<body>

<div class="container">
<div class="row my-4 justify-content-center">
<div class="col col-md-10 col-lg-7 text-light font-monospace">

<header>
<nav class="nav nav-pills py-1 justify-content-lg-end justify-content-center">
	{%- for path in site.header_pages -%}
		{%- if path == 'about' -%}
			<a class="nav-link my-1 text-light" href="/">{{ path | capitalize }}</a>
		{%- elsif path == 'poi' -%}
			<a class="nav-link my-1 text-light active" aria-current="page" href="{{ '/' | append: path  }}">{{ path | capitalize }}</a>
		{% else %}
			<a class="nav-link my-1 text-light" href="{{ '/' | append: path }}">{{ path | capitalize }}</a>
		{%- endif -%}
	{%- endfor -%}
</nav>
</header>

<main class="my-4 mx-1">

{{ content }}

</main>

<footer><div class="pi text-end" onclick="pi()">{{ site.footer }}</div></footer>
   
</div>
</div>
</div>

<script src="/custom.js"></script>

</body>

</html>

