<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{{ site.title }}</title>
	<link rel="stylesheet" type="text/css" href="{{ "custom.css" | relative_url }}">
	<link rel="icon" type="image/svg+xml" href="/assets/favicon.svg">
</head>

<body>

<div class="container">
<div class="row my-4 justify-content-center">
<div class="col col-md-10 col-lg-7 text-light font-monospace">

<header>
<nav class="nav nav-pills py-1 justify-content-lg-end justify-content-center">
	{%- for path in site.header_pages -%}
		{%- if path == 'about' -%}
			<a class="nav-link my-1 text-light" href="/">{{ path | capitalize }}</a>
		{%- elsif path == 'poi' -%}
			<a class="nav-link my-1 text-light active" aria-current="page" href="{{ '/' | append: path  }}">{{ path | capitalize }}</a>
		{%- else -%}
			<a class="nav-link my-1 text-light" href="{{ '/' | append: path }}">{{ path | capitalize }}</a>
		{%- endif -%}
	{%- endfor -%}
</nav>
</header>

<main class="my-4 mx-1">

<div class="col p-3 bg-light">

<p class="h2 fw-bold text-black text-break">Index of /{{ page.dir }}/</p>

<table class="table table-light table-borderless table-sm border-bottom border-dark">
<thead class="border-bottom border-dark">
	<tr class="d-flex justify-content-start">
	<td class="py-1 bg-light"><img class="img-fluid" src="{{ '/assets/icons/blank.gif' | relative_path }}"></td>
	<td class="py-1 bg-light text-left">Name</td>
	</tr>
</thead>
<tbody>
	<tr class="d-flex justify-content-start">
		<td class="py-1 bg-light"><img class="img-fluid" src="{{ '/assets/icons/back.gif' | relative_path }}"></td>
		<td class="py-1 bg-light"><a class="text-dark" href="{{ page.dir | split: '/' | pop | join: '/' | relative_path }}">Parent Directory</a></td>
	</tr>

{%- assign page_depth = page.dir | split: '/' | size | plus: 1 -%}
{%- assign prev_subfolder = "" -%}
      
{%- for file in site.static_files -%}
	{%- if file.path contains page.dir -%}

	{%- assign file_depth = file.path | split: '/' | size -%}
	{%- assign depth_diff = file_depth | minus: page_depth -%}

		{%- if file_depth > page_depth -%}

			{%- assign next_subfolder = file.path | split: '/' -%}

			{%- for i in (1..depth_diff) -%}
				{%- assign next_subfolder = next_subfolder | pop -%}
			{%- endfor -%}

			{%- if next_subfolder != prev_subfolder -%}
				<tr class="d-flex justify-content-start">
					<td class="py-1 bg-light"><img class="img-fluid" src="{{ '/assets/icons/folder.gif' | relative_path }}"></td>
					<td class="py-1 bg-light"><a class="text-black" href="{{ next_subfolder | join: '/' | relative_path }}">{{ next_subfolder | last }}/</a></td>
				</tr>
				{%- assign prev_subfolder = next_subfolder -%}
			{%- endif -%}
		{%- endif -%}
	{%- endif -%}
{%- endfor -%}
 
{%- for file in site.static_files -%}
	{%- if file.path contains page.dir -%}

	{%- assign file_path = page.dir | append: file.name -%}

	{%- if file.path == file_path -%}
	<tr class="d-flex justify-content-start">
		<td class="py-1 bg-light">
		{%- case file.extname -%}
		{%- when ".pdf", ".txt", ".doc", ".docx" -%}
			<img class="img-fluid" src="{{ '/assets/icons/layout.gif' | relative_path }}">
		{%- when ".png", ".gif", ".jpg", ".jpeg" -%}
			<img class="img-fluid" src="{{ '/assets/icons/image.gif' | relative_path }}">
		{%- when ".zip", ".tar", ".gz", ".tgz", ".rar" -%}
			<img class="img-fluid" src="{{ '/assets/icons/compressed.gif' | relative_path }}">
		{%- when ".exe", ".iso" -%}
			<img class="img-fluid" src="{{ '/assets/icons/binary.gif' | relative_path }}">
		{%- else -%}
			<img class="img-fluid" src="{{ '/assets/icons/unknown.gif' | relative_path }}">
		{%- endcase -%}
		</td>
		<td class="py-1 bg-light"><a class="text-black" href="{{ file.path | relative_path }}">{{ file.name }}</a></td>
	</tr>
	{%- endif -%}
	{%- endif -%}
{%- endfor -%}

</tbody>
</table>

{{ content }}

 </div>

</main>

<footer><div class="pi text-end" onclick="pi()">{{ site.footer }}</div></footer>
   
</div>
</div>
</div>

<script src="/custom.js"></script>

</body>

</html>

